.container {
  display: flex;
  gap: var(--spacing-md);
  flex-direction: column;
  padding: var(--spacing-lg);
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
}

.title {
  font-size: 1.375rem; /* 22px */
  line-height: 1.875rem; /* 30px */
  font-weight: var(--font-weight-semibold);
}

.card:last-child {
  display: none;
}

.cardContainer {
  gap: var(--spacing-lg);
  display: grid;
}

.expandIcon {
  width: 10px;
  height: auto;
}

.sortButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  border: none;
  font-weight: var(--font-weight-medium);
  background-color: var(--color-gray-200);
  color: var(--color-gray-900);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size-md);
  line-height: var(--font-size-xl); /* 24px */
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

@media screen and (min-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
  }

  .card:last-child {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .sortButton {
    width: fit-content;
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: unset;
  }
}
