.wrapper {
  container-type: inline-size;
  container-name: banner;
}

.container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  gap: var(--spacing-lg);
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid var(--color-gray-150);
  width: 100%;
  max-width: var(--breakpoint-lg);
}

.container .buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-lg);
}

.phoneText {
  font: var(--font-primary);
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  letter-spacing: calc(var(--font-size-sm) * 0.01); /* 1% */
  font-weight: var(--font-weight-normal);
}

.contactLink {
  font: var(--font-primary);
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  letter-spacing: calc(var(--font-size-sm) * 0.01); /* 1% */
  font-weight: var(--font-weight-medium);
}

@container banner (min-width: 500px) {
  .container {
    display: flex;
  }
}
