.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 32px;
}

.logo {
  width: 120px;
  height: auto;
}

.menuIcon {
  color: var(--color-green-500);
  transform: translateY(-1px); /* Slight adjustment for vertical alignment */
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.mobileMenuText {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  color: var(--color-green-500);
}
